@import "colors";
.btn {
  display: flex;
  cursor: pointer;
  height: 100%;
  font-size: 16px;
  min-height: 44px;
  width: max-content;
  border-radius: 24px;
  transition: all .3s;
  color: $color-white;
  align-items: center;
  padding-inline: 1.6em;
  justify-content: center;
  border: solid 1px $color-white;
  background-color: transparent;
  font-family: "monumentextended", serif;


  &:hover {
    background-color: $color-white;
    color: $color-dark-blue;
  }
}